APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/ecommerce-project-s1

JWT_SECRET=CAMBIAR_ESTE_VALOR_POR_UNO_ALEATORIO_LARGO
JWT_EXPIRY=7200

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=uct_ecommerce
DB_USER=root
DB_PASS=

PAYPAL_CLIENT_ID=TU_CLIENT_ID_SANDBOX_AQUI
PAYPAL_SECRET=TU_SECRET_SANDBOX_AQUI
PAYPAL_MODE=sandbox
