Options -Indexes
DirectoryIndex public/index.html
RewriteEngine On

# No reescribir rutas que ya están dentro de public/
RewriteRule ^public/ - [L]

# Si la URL es exactamente la raíz, servir public/index.html
RewriteRule ^$ public/index.html [L]

# Si el archivo o directorio no existen en la raíz, internamente servir desde public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]
