# Redirigir todo al public/ excepto archivos existentes
RewriteEngine On

# Permitir acceso directo a archivos reales en la raíz
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]
